{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
        <div class="register_form">
        <style>
        .asteriskField {display: none;}
        </style>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Connexion</legend>
                {{ form|crispy }}

            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Se Connecter</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Besoin de créer un compte ?
                <a class="ml-2" href="{% url 'register' %}">Créez un compte maintenant</a>
            </small>
        </div>
    </div>
{% endblock %}