{% extends "base.html" %}
{% block content %}
    {% if favorites %}
        {#    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!#}
            <section class="page-section" id="products_list">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">
                    Mes favoris
                </h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5 row justify-content-around">
{#                        row justify-content-around allow space between each card#}
                    {% for favorite in favorites %}
                        <div class="card col-lg-3 col-md-6 text-center">
                            <img src="{{ favorite.substitute.small_image_url }}" class="card-img-top" alt="small_image_url">
                            <div class="card-body text-center">
                                <a href="{% url 'show_product' favorite.substitute.id %}" class="card-link">
                                    <font color="black"><u><p>{{ favorite.substitute.name }}</p></u></font>
                                </a> <br />
                                <a href="{% url 'show_product' favorite.product.id %}" class="card-link">
                                    <p> <font color="black">Ce produit a été choisi pour substituer :</font>
                                    <font color="#C45525"> <b><u>{{ favorite.product.name }}</u></b></font>
                                    </p>
                                </a> <br />

                                <a href="{{ favorite.substitute.url }}" target="_blank" class="card-link">
                                    -> Lien OFF <-
                                </a> <br /><br />
                            <span class="card-score-{{ favorite.substitute.score }}">
                                    {{ favorite.substitute.score }}
                            </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

{#    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!#}
{#        <h3> Mes Favoris </h3>#}
{#        {% for favorite in favorites %}#}
{#            <img class="substitute_image"#}
{#            src="{{ favorite.substitute.small_image_url }}"#}
{#            alt="small image"><br /><br />#}
{#            <span class="card-score-{{ favorite.substitute.name }}"#}
{#            >{{ favorite.substitute.name }}</span> <br /><br />#}
{#            <p> Ce produit a été choisi pour substituer : {{ favorite.product.name }}</p>#}
{#            <span class="card-score-{{ favorite.substitute.url }}"#}
{#            >{{ favorite.substitute.url }}</span><br /><br />#}
{#            <span class="card-score-{{ favorite.substitute.sugar_100g }}"#}
{#            >{{ favorite.substitute.sugar_100g }}</span><br /><br />#}
{#            <span class="card-score-{{ favorite.substitute.score }}"#}
{#            >{{ favorite.substitute.score }}</span><br /><br />#}
{#        {% endfor %}#}
    {% else %}
        Pas de "Favorites"
    {% endif %}

{% endblock %}

{#            <li>#}
{#                {{ substitute.substitute.name }} <br /><br />#}
{#                            Display name of product#}
{#                <a href="{% url 'show_product' favorite.id %}">#}
{#                <a href="{% url 'show_product'%}">#}
{#                    {{ favorite.substitute.name }}#}
{#                </a><br/> <br/>#}
{#                <img class="substitute_image"#}
{#                src="{{ favorite.substitute.small_image_url }}"#}
{#                alt="small image"#}
{#                /> <br/><br/>#}
{#                Nutriscore : {{ favorite.substitute.score }} <br /><br />#}
{#                url : <a href="{{ favorite.url }}" target="_blank"> Lien OFF </a><br/><br/>#}
{#                    <h4> Caractéristiques</h4> </a>#}
{#                <li> Sucre : {{ favorite.substitute.sugar_100g }}</li>#}
{#                <li> Caloris : {{ favorite.substitute.kcal_100g }} </li>#}
{#                <li> Sel : {{ favorite.substitute.salt_100g }} </li>#}
{#                <li> Matières grasses : {{ favorite.substitute.fat_100g }} </li><br/><br/>#}
{#            </li>#}
